<div id="filterListContainer{{ listName }}"></div>
<script type="text/javascript">
	$(document).ready(function(){
		var options = {{ data|raw }};
		options.container = $('#filterListContainer' + '{{ listName }}');
		var list = new TessiFilterList(options);
		list.initialize();
	});
</script>